html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px!important;
    color: #000;
}

select#tipoDeLugar,
select#comoIr {
    background: url(../imagenes/selector.png) no-repeat 96% center;
}

select,
input {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    padding: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
}

output {
    color: #4b858a;
    font-size: 12px;
}

:focus {
    border: none;
    outline: 0;
}

.btn {
    border-radius: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 30px;
    cursor: pointer;
    transition: all .5s ease;
    background-color: #4285F4;
    width: 100%;
    height: 44px;
}

.btn-outline {
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    border: solid 1px #4285F4;
    color: #4285F4;
    background: transparent;
}

.btn:hover {
    -webkit-box-shadow: 0px 4px 17px -11px rgba(51,51,51,0.4);
    -moz-box-shadow: 0px 4px 17px -11px rgba(51,51,51,0.4);
    box-shadow: 0px 4px 17px -11px rgba(51,51,51,0.4); 
}

.btn-outline:last-child {
    margin-top: 10px;
}

.from-to {
    position: relative;
    width: 80%;
    display: block;
    margin: 10px auto;
    border-radius: 6px;
    min-height: 72px;
    padding: 12px 20px;
    position: relative;
    background: #ffffff;
    margin-bottom: 12px;
    -webkit-box-shadow: 0px 4px 17px -11px rgba(51,51,51,0.4);
    -moz-box-shadow: 0px 4px 17px -11px rgba(51,51,51,0.4);
    box-shadow: 0px 4px 17px -11px rgba(51,51,51,0.4); 
}

.pac-container {
    width: 400px !important;
}

.select-circle {
    width: calc(100% - 35px);
    position: relative;
}

#puntosIntermedios {
    width: calc(100% - 33px);
    height: 100px!important;
    margin: 0 0 6px 0;
    border: 1px solid #f4f4f4;
    border-radius: 6px;
}

.select-circle {
    margin-left: 35px;
}

.from-to .circle,
.medios,
.agregarPts {
    position: relative;
    background: #fff;
    border-radius: 4px;
    font-size: 14px;
    color: #292A30;
    -webkit-text-fill-color: initial;
}

.from-to .circle:first-child,
.medios {
    margin-bottom: 10px;
}

.select-circle::before {
    background: url(../imagenes/dot.png);
    background-size: 4px;
    content: '';
    display: block;
    height: 42px;
    position: absolute;
    width: 4px;
    left: -27px;
    top: 42%;
    margin-top: -13px;
}

.circle::before {
    background: 0 0;
    border: 2px solid #7A7C7F;
    border-radius: 50%;
    content: '';
    display: block;
    height: 6px;
    position: absolute;
    top: 50%;
    width: 6px;
    left: -30px;
    margin-top: -6px;
}

.circle.to::before {
    background: #4b858a;
    border-color: #4b858a;
}

.from-to select,
#comoIr,
#tipoDeLugar {
    background: 0 0;
    border: 1px solid #f4f4f4;
    height: 48px;
    padding-left: 14px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    vertical-align: baseline;
    width: 100%;
}

#agregar,
#direccion {
    background: 0 0;
    border: 1px solid #f4f4f4;
    height: 48px;
    padding-left: 14px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    vertical-align: baseline;
    width: 95%;
}

.input-label,
label {
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    color: #000;
    display: inline-block;
    font-weight: 400;
    height: 100%;
}

#labelIntermedios {
    padding-top: 20px;
    font-size: 14px;
}

.input-label {
    line-height: 30px;
    max-width: 62px;
    min-width: 42px;
    padding: 0 0 0 10px;
}

.radio-metros {
    height: 30px;
    line-height: 20px;
    margin-bottom: 20px;
}

.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: calc(100% - 96px);
    height: 2px;
    outline: none;
    border-radius: 2px;
    background: #4285F4;
    vertical-align: middle;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border: 2px solid #4285F4;
    border-radius: 1rem;
    cursor: pointer;
}

.intermedios {
    display: block;
    margin: 10px 0;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
}

.arrows {
    height: 100px;
    width: 25px;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.arrows input[type=button] {
    text-align: left;
    text-indent: 10px;
    font-size: 10px;
    width: 25px;
    display: block;
    height: 50px;
    padding: 0;
    color: transparent;
    position: relative;
}

.up,
.down {
    width: 100%;
}

.up:before,
.down:before {
    position: absolute;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    z-index: 2;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    backface-visibility: hidden;
}

.arriba,
.abajo {
    background-color:#4285F4;
}

.arriba {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.arriba:hover {
    -webkit-box-shadow: 0px 4px 17px -11px rgba(51,51,51,0.4);
    -moz-box-shadow: 0px 4px 17px -11px rgba(51,51,51,0.4);
    box-shadow: 0px 4px 17px -11px rgba(51,51,51,0.4);
}

.aclaracion {
    font-size: 12px;
    color: #707070;
}

#borrar-item,
#borrar-lista {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    color: #ffffff;
    background-color: rgb(125, 145, 177);
    border: none;
    border-radius: 6px;
    width: 49%;
    text-transform: uppercase;
    padding: 5px 0 5px 0;
    margin-bottom: 20px;
    cursor: pointer;
}

#borrar-item:hover,
#borrar-lista:hover {
    -webkit-box-shadow: 0px 4px 17px -11px rgba(51,51,51,0.4);
    -moz-box-shadow: 0px 4px 17px -11px rgba(51,51,51,0.4);
    box-shadow: 0px 4px 17px -11px rgba(51,51,51,0.4);
}

.abajo:hover {
    -webkit-box-shadow: 0px 4px 17px -11px rgba(51,51,51,0.4);
    -moz-box-shadow: 0px 4px 17px -11px rgba(51,51,51,0.4);
    box-shadow: 0px 4px 17px -11px rgba(51,51,51,0.4);
}

.abajo {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.up:before {
    color: #fff;
    content: '▲';
}

.down:before {
    color: #fff;
    content: '▼';
}

#submit {
    width: 48%;
    margin-bottom: 10px;
}

#map {
    height: 100%;

}

#pano {
    height: 35%;
    position: absolute;
    z-index: 10;
    bottom: 0;
    width: calc(100% - 360px);
    right: 0;
    visibility: hidden;
}

#left-panel {
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
    text-align: left;
    background: #fafafa;
    height: 100%;
    width: 360px;
}

.input-choose {
    display: block;
    width: 80%;
    border-radius: 6px;
    padding: 20px!important;
    margin: auto;
    padding: 0 20px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 4px 17px -11px rgba(51,51,51,0.4);
    -moz-box-shadow: 0px 4px 17px -11px rgba(51,51,51,0.4);
    box-shadow: 0px 4px 17px -11px rgba(51,51,51,0.4); 
}

.directions {
    margin-top: 15px;
    
}

#directions-panel-summary .adp {
    background: #f1f1f1;
    padding: 0 20px 20px 20px;
}

.adp {
    background-color: #fafafa!important;
}

div.adp-summary {
    font-size: 20px!important;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 10px;
}

.adp-text {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    padding-left: 10px!important;
}

.adp-placemark {
    border: 0!important;
    background: transparent!important;
}

.adp-directions {
    font-family: 'Noto Sans', sans-serif!important;
}

.adp-substep {
    padding: 10px;
}

input#desde,
input#hasta {
    border: 1px solid #f4f4f4;
    width: 90%;
    height: 48px;
    border-radius: 6px;
    padding-left: 12px;
    padding-right: 12px;
}

@media only screen and (max-width: 600px) {
    #left-panel,
    #map,
    #pano {
        width: 100%;
        float: none;
    }
    #left-panel {
        height: auto;
    }
    .hide-xs {
        display: none;
    }
    #submit {
        margin-bottom: 20px;
    }
    .input-choose {
        overflow-y: scroll;
    }
}
